header{
    -webkit-box-shadow: 6px 19px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 19px 19px 0px rgba(0,0,0,0.75);
box-shadow: 6px 19px 19px 0px rgba(0,0,0,0.75);
    background-color: rgb(17, 124, 156);
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
header>li{
    list-style: none; /* Rimuove i puntini */
    padding: 0; /* Rimuove il padding predefinito */
    margin: 0; /* Rimuove il margine predefinito */
    border: 50px;
}
#topbar li{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    list-style: none; /* Rimuove i puntini */
    padding: 0; /* Rimuove il padding predefinito */
    margin: 0; /* Rimuove il margine predefinito */
}
h1{
    text-align: center;
}
span{
    text-align: center;
}
main{
    -webkit-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
    background-color: aliceblue;
    border: 100px;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
    text-align: center;
    border-radius: 10%;
    border-width: 50%;
    border-left: 50px;
}
li{
    text-align: center;
}
footer{
    background-color: rgb(0, 65, 70);
    -webkit-box-shadow: 11px 10px 34px 0px rgba(0,0,0,1);
    -moz-box-shadow: 11px 10px 34px 0px rgba(0,0,0,1);
    box-shadow: 11px 10px 34px 0px rgba(0,0,0,1);
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: rgb(22, 80, 207);
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
address>a{
    color:rgb(243, 8, 204);
}
h2{
    border: 20px;
    border-radius: 50%;
    font-family: "Poppins", serif;
    font-weight: 300;
}